<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1 id="logo">Dream Journal</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Dreams", dreams_path %></li>
        <li><%= link_to "Dreamsigns", dreamsigns_path %></li>
        <li><a href="#">Account</a></li>
      </ul > 
    </nav>
  </div>
</header>