<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>DreamApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/header' %>

    <div class='flash-messages'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <section class="main-content">

            <%= yield %>

          </section>
        </div>

        <div class="col-md-2">
          <aside class="search-sidebar">
            <h2>Search dreams</h2>
            <p>Browse dreams here</p>
          </aside>
        </div>
      </div>
    </div> <!-- container -->

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
